# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# PyInstaller
build/
dist/
*.spec

# IDEs
.idea/

# OS
.DS_Store

# pytest
.pytest_cache/